[submodule "deps/git-subrepo"]
	path = deps/git-subrepo
	url = https://github.com/ingydotnet/git-subrepo.git
[submodule "modules/mod-ah-bot"]
	path = modules/mod-ah-bot
	url = git@github.com:azerothcore/mod-ah-bot.git
[submodule "modules/mod-eluna"]
	path = modules/mod-eluna
	url = git@github.com:azerothcore/mod-eluna.git
[submodule "modules/mod-skip-dk-starting-area"]
	path = modules/mod-skip-dk-starting-area
	url = git@github.com:hallgaeuer/mod-skip-dk-starting-area.git
[submodule "modules/mod-learn-spells"]
	path = modules/mod-learn-spells
	url = git@github.com:hallgaeuer/mod-learn-spells.git
[submodule "modules/mod-quickbalance"]
	path = modules/mod-quickbalance
	url = git@github.com:hallgaeuer/mod-quickbalance.git
[submodule "modules/mod-quick-respawn"]
	path = modules/mod-quick-respawn
	url = git@github.com:hallgaeuer/mod-quick-respawn.git
[submodule "modules/mod-ptr-template"]
	path = modules/mod-ptr-template
	url = git@github.com:heyitsbench/mod-ptr-template.git
