[submodule "deps/git-subrepo"]
	path = deps/git-subrepo
	url = https://github.com/ingydotnet/git-subrepo.git
[submodule "modules/mod-ah-bot"]
	path = modules/mod-ah-bot
	url = git@github.com:azerothcore/mod-ah-bot.git
[submodule "modules/mod-eluna"]
	path = modules/mod-eluna
	url = git@github.com:azerothcore/mod-eluna.git
[submodule "modules/mod-autobalance"]
	path = modules/mod-autobalance
	url = git@github.com:azerothcore/mod-autobalance.git
[submodule "modules/mod-skip-dk-starting-area"]
	path = modules/mod-skip-dk-starting-area
	url = git@github.com:hallgaeuer/mod-skip-dk-starting-area.git
[submodule "modules/mod-learn-spells"]
	path = modules/mod-learn-spells
	url = git@github.com:azerothcore/mod-learn-spells.git
